<%= form_with(model: reward) do |form| %>
  <% if reward.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
        <% reward.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%#= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name, class:"form-control", placeholder:"First Name" %>

  </div>

  <div class="field form-group">
    <%#= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name, class:"form-control", placeholder:"Last Name" %>
  </div>

  <div class="field form-group">
    <%#= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class:"form-control", placeholder:"Email Address" %>
  </div>

  <div class="field form-group">
    <%#= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone, class:"form-control", placeholder:"Phone Number" %>
  </div>

  <div class="field form-group">
    <%#= form.label :company_name, style: "display: block" %>
    <%= form.text_field :company_name, class:"form-control", placeholder:"Company Name" %>
  </div>

  <div class="field form-group">
    <%#= form.label :company_website, style: "display: block" %>
    <%= form.text_field :company_website, class:"form-control",placeholder:"Company Website" %>
  </div>
<br/>
  <div>
    <%= form.submit :Submit, class:'btn btn-secondary'%>
  </div>
<% end %>
