<div id="<%= dom_id reward %>">
  <p>
    <strong>First name:</strong>
    <%= reward.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= reward.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= reward.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= reward.phone %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= reward.company_name %>
  </p>

  <p>
    <strong>Company website:</strong>
    <%= reward.company_website %>
  </p>

</div>
